.blog{
    width:73%;
}
.blogMain .wrapper{
    margin:0;
}
.blogMain, .blogFooter{
    background:bgSecondary;
}
.blogImage img{
    box-shadow: 21px 17px $accent1;
    transform:translateY(-90px);
    width:98%;
}
.blogArticle{
    border-right: 3px solid $accent1;
    border-bottom: 3px solid $accent1;
    width:929px;
}
.blogMain h2{
    padding-top:36px;
}
.blogContainer{
    height: 49vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blogInfo{
    width:90%;
    padding-left:154px;
}
.sideBar{
    width: 68%;
    align-items: flex-end;
    margin-left: 240px;
}
.sideBarImg img{
    width:100%;
}
.blogMain{
    display:flex;
}
.blogStories{
    display:flex;
    flex-direction: column;
}
