.submitStyle{
    color:white;
    background:$accent2;
    border:none;
    padding:14px 355px;
    margin-bottom:110px;
}
.blogForm{
    width:74%;
}
form .comment{
    border:2px solid $accent1;
    padding:5% 50% 14% 10%;
}