@media(max-width:1360px){
   .blogForm .placeholderStyle:nth-child(2){
       margin-right:24%;
   }
   .commentAndDate{
       width:57%;
   }
    .sideBar{
        margin:auto;
        width:100%;
    }
}
@media (max-width: 1300px){
    .blogForm .placeholderStyle:nth-child(2){
       margin-right:19%;
   }

}
@media (max-width: 1189px){
    
    .blogMain{
        flex-direction: column;
    }
    .sideBar{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin:40px 0;
    }
    .sideBarImg{
        width:36%;
    }
    .sideBarInfo{
        align-self:center;
        width:48%;
    }
}
@media (max-width: 940px){
    .blogForm .placeholderStyle:nth-child(2){
        margin-right:14%;
    }
    .blogContainer{
        padding:8px 0 0 13px;
        height:30vh;
    }
    .blogHeader{
        background-size:contain;
        min-height:52vh;
    }
}
@media (max-width: 900px){
    .blogArticle{
        width:870px;
    }
}
@media (max-width: 874px){
    .blogArticle{
        width:820px;
    }
    .blogInfo{
        width:85%;
        padding-left:100px;
    }
    .blogImage img{
        transform: translateY(-18px);
    }
    .blogHeader{
        min-height:39vh;
    }
}
@media(max-width: 831px){
    .blogArticle{
        width:725px;
    }
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
}
@media(max-width:320px){
}