.contactFooter, .contactMain{
    background:$bgSecondary;
}
.addressContact{
    color:$fcPrimary;
}
.addressContact p{
    margin:0;
}
.addressContact h2{
    color:$fcPrimary;
    font-family: "Lato", "sans-serif";
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 2px;
}
.fab{
    color:black;
    font-weight: 700;
    font-size: 25px;
}
.socialMedia ul{
    display:flex;
    flex-direction:row;
}
.socialMedia li{
    padding-right:28px;
}
.flexContainer{
    display: flex;
    justify-content: space-between;
}
.mediaContactContainer{
    width:400px;
    display: flex;
    flex-direction: column;
    align-self: center;
}