.indexHeader{
    background:url(../assets/home-image-1.jpg);
}
.blogHeader{
    background:url(../assets/blog-image-1.jpg);
}
.contactHeader{
    background:url(../assets/contact-image-1.jpg);
}
.banner{
    background:url(../assets/banner-image.jpg);
    min-height:500px;
}

