//MEDIA QUERIES
@media(max-width:1360px){
    .wrapper{
        width:1100px;
        transition:width 5s;
    }
}
@media (max-width: 940px){
  .topNav {
        display:flex;
    }
   .topNav button{
        display:block;
    }
    .topNav ul{
        display:none;
    }  
}
@media (max-width: 768px) {
    
}
@media (max-width: 480px) {
}
@media(max-width:320px){
}