.indexFooter{
    background:$bgSecondary;
}

.copyright{
    background:$fcPrimary;
}
.copyright p{
    color:white;
    margin: 0;
    text-align: center;
    padding: 15px;
}
.freeTripInfo{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }