.menuOptions{
    background-color: $bgSecondary;
}
.menuItem a{
    text-decoration:none;
}
i.fas{
    color: white;
    background: teal;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    margin-right:10px;
}