.menuOptions{
    background-color: $bgSecondary;
    max-height:640px;
}
.menuItem a{
    text-decoration:none;
}
.icons{
    background: $accent1;
    min-width: 56px;
    text-align: center;
    border-radius: 50%;
    align-self:flex-start;
    margin-right:16px;
}
i.fas{
    color: white;
}
.menuItem a:hover {
    color:$accent1;
}
.menuContainer{
    display:flex;
    flex-direction:row;
    justify-content:start;
    flex-wrap:wrap;
    padding-top:45px;
}
.menuItem{
    width:48%;
    padding:10px;
    display:flex;
}