.menuOptions{
    background-color: $bgSecondary;
}
.menuItem a{
    text-decoration:none;
}
.icons{
    background: $accent1;
    width: 56px;
    text-align: center;
    border-radius: 50%;
}
i.fas{
    color: white;
}
.menuItem a:hover {
    color:$accent1;
}
.menuContainer{
    display:flex;
    flex-direction:row;
    justify-content:start;
    flex-wrap:wrap;
}
.menuItem{
    width:48%;
    padding:10px;
}