.photoGallery{
    background:$bgPrimary;
    min-height:650px;
}
.photos{
    display:flex;
    justify-content: space-between;
    padding-top: 100px;
}
.images{
 width:calc(33.3% - 20px);
}
.images img{
    width:100%;
}
