.sectionVisit{
    background:$bgSecondary;
}
.findOutMore, .readMore{
    color:#ffffff;// white
    background:$accent2;   
}
.findOutMore{
    padding: 11px 16px;
}
.readMore{
    padding: 9px 15px;
}
.visitImg img{
    box-shadow:-17px 15px $accent1;
}
.mainInfo{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    min-height: 700px;
    width:calc(100% - 20px);
    padding-top:229px;
}
.visitInfo{
    width:62%;
    padding:10px;
}
.visitImg{
    padding:10px;
}
