// COlOR PALETTE VARIABLES
$bgPrimary:#D2F9F1; //light light blue (210, 249, 241)
$bgSecondary:#FAFFFE; //iceblue (250, 255, 254)

$accent1:#50E3C2; // Greenish cyan (80, 227, 194)
$accent2:#063974;//twilight blue (6, 57, 116) //also font color

$fcPrimary:#2C2C2C;// Black(44,44,44)
$fcSecondary:#0C5F4C; //Spruce (12,95,76)

// FONT VARIABLES
$primaryFont:'Lato', 'sans-serif';
$secondaryFont:'Playfair Display SC', 'serif';