article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

h1 {
  color: #063974;
  font-family: "Playfair Display SC", "serif";
  font-weight: 900i;
  font-size: 111.2px; }

.welcome {
  color: #0C5F4C;
  font-family: "Lato", "sans-serif";
  font-weight: 700;
  font-size: 62px;
  line-height: 58px;
  letter-spacing: 6.7px; }

.logo {
  color: #50E3C2;
  font-family: "Playfair Display SC", "serif";
  font-weight: 900i;
  font-size: 34.6px; }

h2 {
  color: #0C5F4C;
  margin: 0;
  font-family: "Lato", "sans-serif";
  font-weight: 700;
  font-size: 35px;
  line-height: 58px;
  letter-spacing: 3.8px; }

.topNav a {
  color: #FFFFFF;
  font-family: "Lato", "sans-serif";
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px; }

p, .blogStories a {
  color: #2C2C2C;
  font-family: "Lato", "sans-serif";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px; }

button, .submitStyle, .contactForm {
  font-family: "Playfair Display SC", "serif";
  font-weight: 900i;
  font-size: 20px;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px; }

.menuItem h2, .menuItem a {
  color: #0C5F4C;
  font-family: "Lato", "sans-serif";
  font-weight: 700;
  font-size: 30px;
  line-height: 58px; }

.travelStories h2 {
  color: #063974; }

.blogH1, .contactH1 {
  color: white;
  font-family: "Lato", "sans-serif";
  font-weight: 700;
  font-size: 87px;
  line-height: 58px;
  letter-spacing: 9px; }

h3 {
  color: #063974;
  font-style: italic;
  font-size: 22px; }

.BBBB {
  color: purple;
  border-radius: 50%; }

.commentSection h2 {
  color: #2C2C2C; }

.placeholderStyle {
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 2px; }

ul {
  list-style-type: none;
  padding: 0; }
  ul li a {
    text-decoration: none; }

.wrapper {
  max-width: 1370px;
  width: 82%;
  margin: 0 auto; }

.indexHeader {
  background: url(../assets/home-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative; }

.blogHeader {
  background: url(../assets/blog-image-1.jpg); }

.contactHeader {
  background: url(../assets/contact-image-1.jpg); }

.blogHeader, .contactHeader {
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  min-height: 70vh; }

.banner {
  background: url(../assets/banner-image.jpg);
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat; }

.topNav a {
  padding: 25px; }

.topNav a:hover {
  color: #50E3C2; }

.topNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.blogH1, .contactH1 {
  margin: 0; }

.contactBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.indexTitle h1 {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  top: 385px;
  z-index: 1;
  left: 110px; }

.indexTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.indexImage {
  position: absolute;
  top: 350px; }

.topNav button {
  border: none;
  background: none;
  font-size: 40px;
  display: none; }

.sectionVisit {
  background: #FAFFFE; }

.findOutMore, .readMore {
  color: #ffffff;
  background: #063974; }

.findOutMore {
  padding: 11px 16px; }

.readMore {
  padding: 9px 15px; }

.visitImg img {
  -webkit-box-shadow: -17px 15px #50E3C2;
  box-shadow: -17px 15px #50E3C2; }

.mainInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 700px;
  width: calc(100% - 20px);
  padding-top: 229px; }

.visitInfo {
  width: 62%;
  padding: 10px; }

.visitImg {
  padding: 10px; }

.photoGallery {
  background: #D2F9F1;
  min-height: 650px; }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 100px; }

.images {
  width: calc(33.3% - 20px); }

.images img {
  width: 100%; }

.menuOptions {
  background-color: #FAFFFE;
  max-height: 640px; }

.menuItem a {
  text-decoration: none; }

.icons {
  background: #50E3C2;
  min-width: 56px;
  text-align: center;
  border-radius: 50%;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-right: 16px; }

i.fas {
  color: white; }

.menuItem a:hover {
  color: #50E3C2; }

.menuContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 45px; }

.menuItem {
  width: 48%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.travelStories {
  background: #D2F9F1; }

.image1 img {
  -webkit-box-shadow: 23px 22px #50E3C2;
  box-shadow: 23px 22px #50E3C2; }

.image2 img {
  -webkit-box-shadow: -24px 25px #50E3C2;
  box-shadow: -24px 25px #50E3C2; }

.travelContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.info1and2 {
  width: 40%;
  padding: 40px; }

.image1 {
  -webkit-transform: translateY(-67px);
  -ms-transform: translateY(-67px);
  transform: translateY(-67px); }

.image2 {
  -webkit-transform: translateY(65px);
  -ms-transform: translateY(65px);
  transform: translateY(65px); }

.indexFooter {
  background: #FAFFFE; }

.copyright {
  background: #2C2C2C; }

.copyright p {
  color: white;
  margin: 0;
  text-align: center;
  padding: 15px; }

.freeTripInfo {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.blog {
  width: 73%; }

.blogMain .wrapper {
  margin: 0; }

.blogMain, .blogFooter {
  background: bgSecondary; }

.blogImage img {
  -webkit-box-shadow: 21px 17px #50E3C2;
  box-shadow: 21px 17px #50E3C2;
  -webkit-transform: translateY(-90px);
  -ms-transform: translateY(-90px);
  transform: translateY(-90px);
  width: 98%; }

.blogArticle {
  border-right: 3px solid #50E3C2;
  border-bottom: 3px solid #50E3C2;
  width: 929px; }

.blogMain h2 {
  padding-top: 36px; }

.blogContainer {
  height: 49vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.blogInfo {
  width: 90%;
  padding-left: 154px; }

.sideBar {
  width: 68%;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-left: auto; }

.sideBarImg img {
  width: 100%; }

.blogMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.blogStories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.singleLink {
  color: #0C5F4C;
  text-decoration: none; }

.singleLink:hover {
  color: #50E3C2; }

.blogStories a::before {
  content: '';
  background-color: #50E3C2;
  display: inline-block;
  width: 0;
  border-radius: 50%;
  padding: 6px;
  margin: 0px 9px 1px 0px; }

.submitStyle {
  color: white;
  background: #063974;
  border: none;
  padding: 2% 35%;
  margin-bottom: 110px; }

.blogForm {
  width: 74%; }

form .comment {
  border: 2px solid #50E3C2;
  padding: 5% 50% 14% 10%; }

.commentSection {
  padding-left: 83px; }

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.comments h3 {
  margin: 0; }

.commentAndDate {
  width: 50%; }

.profileImg {
  padding-right: 25px; }

.headerContainer {
  height: 47vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.commentForm {
  background: #FAFFFE;
  width: 62%;
  min-height: 500px;
  padding: 70px 73px;
  -webkit-box-shadow: 20px 17px #50E3C2;
  box-shadow: 20px 17px #50E3C2;
  -webkit-transform: translateY(-150px);
  -ms-transform: translateY(-150px);
  transform: translateY(-150px); }

.contactForm {
  color: white;
  background: #063974;
  border: none;
  padding: 1% 43%; }

.placeholderStyle {
  border: none;
  border-bottom: 2px solid #50E3C2;
  margin-bottom: 5%; }

.placeholderStyle:nth-child(2) {
  margin-right: 150px; }

.message {
  border: 2px solid #50E3C2;
  padding: 5% 50% 14% 10%; }

.contactFooter, .contactMain {
  background: #FAFFFE; }

.addressContact {
  color: #2C2C2C; }

.addressContact p {
  margin: 0; }

.addressContact h2 {
  color: #2C2C2C;
  font-family: "Lato", "sans-serif";
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 2px; }

.fab {
  color: black;
  font-weight: 700;
  font-size: 25px; }

.socialMedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.socialMedia li {
  padding-right: 28px; }

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.mediaContactContainer {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: center;
  align-self: center; }

@media (max-width: 1360px) {
  .wrapper {
    width: 1000px;
    -webkit-transition: width 3s;
    -o-transition: width 3s;
    transition: width 3s; }
  .mainInfo {
    padding-top: 223px;
    -webkit-transition: padding-top 3s;
    -o-transition: padding-top 3s;
    transition: padding-top 3s; }
  .indexImage {
    top: 306px;
    -webkit-transition: top 3s;
    -o-transition: top 3s;
    transition: top 3s; }
  .photos {
    padding-top: 141px;
    -webkit-transition: padding-top 3s;
    -o-transition: padding-top 3s;
    transition: padding-top 3s; }
  .menuOptions {
    height: 673px;
    -webkit-transition: height 3s;
    -o-transition: height 3s;
    transition: height 3s; }
  .info1and2 {
    width: 43%;
    padding: 63px;
    -webkit-transition: padding 3s;
    -o-transition: padding 3s;
    transition: padding 3s;
    -webkit-transition: width 3s;
    -o-transition: width 3s;
    transition: width 3s; } }

@media (max-width: 1300px) {
  .menuOptions {
    height: 778px;
    -webkit-transition: height 3s;
    -o-transition: height 3s;
    transition: height 3s; }
  .menuItem {
    width: 50%;
    -webkit-transition: width 3s;
    -o-transition: width 3s;
    transition: width 3s; }
  .mainInfo {
    padding-top: 156px;
    -webkit-transition: padding-top 3s;
    -o-transition: padding-top 3s;
    transition: padding-top 3s; } }

@media (max-width: 1189px) {
  .image2 {
    -webkit-transform: translateY(120px);
    -ms-transform: translateY(120px);
    transform: translateY(120px);
    -webkit-transition: translate 3s;
    -o-transition: translate 3s;
    transition: translate 3s; } }

@media (max-width: 1176px) {
  .info1and2 {
    width: 42%;
    padding: 41px; } }

@media (max-width: 1100px) {
  .indexTitle h1 {
    top: 300px;
    -webkit-transition: top 3s;
    -o-transition: top 3s;
    transition: top 3s; }
  .mainInfo {
    padding-top: 182px;
    -webkit-transition: padding 3s;
    -o-transition: padding 3s;
    transition: padding 3s; }
  .image1 img, .image2 img {
    width: 100%; }
  .image1, .image2 {
    width: 43%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
  .travelContainer {
    padding: 35px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .info1and2 {
    width: 46%;
    padding: 3px 0 27px 8px; } }

@media (max-width: 1000px) {
  .wrapper {
    width: 100%; }
  .contactBar {
    padding-left: 37px; }
  .indexTitle {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

@media (max-width: 940px) {
  .indexHeader {
    background-size: unset;
    height: 46vh;
    -webkit-transition: height 3s;
    -o-transition: height 3s;
    transition: height 3s; }
  .contactBar {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .indexImage img {
    width: 100%; }
  .indexImage {
    top: 115px;
    width: 44%; }
  .indexTitle h1 {
    top: 52px; }
  .mainInfo {
    padding-top: 79px;
    min-height: 628px; }
  .visitImg img {
    width: 100%; }
  .visitImg {
    width: 37%; }
  .visitInfo {
    width: 62%;
    padding: 19px; }
  .photoGallery {
    min-height: 550px; }
  .photos {
    padding-top: 111px;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .menuOptions {
    min-height: 673px; }
  .menuContainer {
    padding-top: 33px; }
  .freeTripInfo {
    padding: 70px; } }

@media (max-width: 915px) {
  .menuOptions {
    min-height: 802px; } }

@media (max-width: 900px) {
  .info1and2 {
    padding: 36px 0 21px 8px;
    margin: 0 auto;
    width: 63%; }
  .travelContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .image1, .image2 {
    width: 64%;
    margin: 0 auto; }
  .photoGallery {
    min-height: 514px; }
  .menuOptions {
    height: 800px; }
  .menuContainer {
    padding-top: 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: columm;
    flex-direction: columm; }
  .menuItem {
    width: 100%;
    padding: 0px 11px 0px 13px; }
  .banner {
    background-size: contain;
    min-height: 281px; }
  .travelStories {
    padding-bottom: 20px; }
  .freeTripInfo {
    max-height: 485px; } }

@media (max-width: 867px) {
  .indexTitle h1 {
    top: 115px;
    left: 70px; } }

@media (max-width: 850px) {
  .mainInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 19px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-height: 472px; }
  .visitInfo {
    width: 91%;
    padding: 0; }
  .indexImage {
    display: none; }
  .visitImg {
    display: none; } }

@media (max-width: 831px) {
  .indexTitle h1 {
    top: 91px;
    left: 46px; } }

@media (max-width: 800px) {
  .indexTitle h1 {
    left: 20px;
    font-size: 93.2px; } }

@media (max-width: 768px) {
  .topNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .topNav button {
    display: block; }
  .topNav ul {
    display: none; } }

@media (max-width: 736px) {
  .menuOptions {
    height: 913px; } }

@media (max-width: 671px) {
  .indexTitle h1 {
    top: 50px;
    font-size: 64.2px; }
  .welcome {
    font-size: 51px; }
  .indexHeader {
    height: 39vh; }
  .photoGallery {
    min-height: 431px; }
  .menuItem p {
    display: none; }
  .menuItem {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 49%;
    padding: 9px 16px 0 7px; }
  .menuOptions {
    height: 186px; }
  .info1and2 {
    width: 80%; }
  .image1 {
    width: 76%; }
  .banner {
    min-height: 244px; } }

@media (max-width: 666px) {
  .contactBar {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .mainInfo {
    width: 100%; }
  .indexHeader {
    height: 34vh; }
  .menuOptions {
    min-height: 238px; } }

@media (max-width: 600px) {
  .mainInfo {
    min-height: 552px; }
  .photos {
    padding-top: 22px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .images {
    width: 55%;
    padding: 17px; }
  .menuOptions {
    height: 305px; }
  .menuItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .freeTripInfo {
    min-height: 561px; } }

@media (max-width: 480px) {
  .indexTitle h1 {
    top: 41px;
    font-size: 43.2px; }
  .welcome {
    font-size: 35px; }
  .indexTitle {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .indexHeader {
    height: 30vh; }
  .images {
    width: 64%; }
  .menuContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .menuInfo {
    display: none; }
  .icons {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin: 26px; }
  .banner {
    display: none; }
  .freeTripInfo {
    min-height: 669px;
    padding: 40px; }
  .mainInfo {
    min-height: 609px; } }

@media (max-width: 363px) {
  .mainInfo {
    min-height: 730px; }
  .freeTripInfo {
    min-height: 850px; } }

@media (max-width: 340px) {
  .freeTripInfo {
    min-height: 911px; } }

@media (max-width: 320px) {
  .indexTitle {
    display: none; }
  .indexHeader {
    height: 18vh; }
  .contactBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .mainInfo {
    min-height: 738px; }
  .images {
    width: 90%; }
  .menuItem a {
    font-size: 44px; }
  .icons {
    min-width: 77px;
    min-height: 62px; }
  .info1and2 p {
    display: none; }
  .freeTripInfo {
    min-height: 924px; } }

@media (max-width: 1360px) {
  .blogForm .placeholderStyle:nth-child(2) {
    margin-right: 24%; }
  .commentAndDate {
    width: 57%; }
  .sideBar {
    margin: auto;
    width: 100%; } }

@media (max-width: 1300px) {
  .blogForm .placeholderStyle:nth-child(2) {
    margin-right: 19%; } }

@media (max-width: 1189px) {
  .blogMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .sideBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin: 40px 0; }
  .sideBarImg {
    width: 36%; }
  .sideBarInfo {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 48%; } }

@media (max-width: 940px) {
  .blogForm .placeholderStyle:nth-child(2) {
    margin-right: 14%; }
  .blogContainer {
    padding: 8px 0 0 13px;
    height: 30vh; }
  .blogHeader {
    background-size: unset;
    min-height: 52vh; } }

@media (max-width: 900px) {
  .blogArticle {
    width: 870px; } }

@media (max-width: 874px) {
  .blogArticle {
    width: 820px; }
  .blogInfo {
    width: 85%;
    padding-left: 100px; }
  .blogImage img {
    -webkit-transform: translateY(-18px);
    -ms-transform: translateY(-18px);
    transform: translateY(-18px); }
  .blogHeader {
    min-height: 39vh; } }

@media (max-width: 831px) {
  .blogArticle {
    width: 725px; }
  .blogImage {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }

@media (max-width: 768px) {
  .blogHeader {
    min-height: 47vh; }
  .blogContainer {
    height: 23vh;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0px 0 0 37px; } }

@media (max-width: 738px) {
  .blogArticle {
    width: 619px; }
  .blogInfo {
    width: 96%;
    padding-left: 83px; } }

@media (max-width: 480px) {
  .blogArticle {
    width: 426px; }
  .blogInfo {
    padding-left: 33px; }
  .sideBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .sideBarImg {
    width: 52%; }
  .comments {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .commentAndDate {
    width: 90%; }
  form .comment {
    padding: 5% 19% 5% 2%; }
  .submitStyle {
    padding: 2% 25%; } }

@media (max-width: 320px) {
  .logo {
    font-size: 24.6px; }
  .blogHeader {
    min-height: 10vh; }
  .blogContainer {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 21vh; }
  .contactBar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .blogArticle {
    width: 299px; }
  .sideBarImg {
    width: 75%; }
  .sideBarInfo {
    width: 78%; }
  .commentSection {
    padding-left: 17px; }
  .profileImg {
    padding: 18px; }
  .commentAndDate {
    width: 90%; }
  form .comment {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5% 0% 5% 2%; }
  .submitStyle {
    padding: 2% 20%; }
  .blogForm {
    padding-top: 40px; } }

@media (max-width: 1360px) {
  .mediaContactContainer {
    width: 278px;
    -webkit-transition: width 3s;
    -o-transition: width 3s;
    transition: width 3s; }
  .placeholderStyle:nth-child(2) {
    margin: 0;
    -webkit-transition: margin 3s;
    -o-transition: margin 3s;
    transition: margin 3s; }
  .commentForm {
    padding: 70px 53px;
    -webkit-transition: padding 3s;
    -o-transition: padding 3s;
    transition: padding 3s; }
  .message {
    padding: 5% 45% 14% 10%; }
  .placeholderStyle:nth-child(2) {
    margin-right: 7%;
    -webkit-transition: margin-right 3s;
    -o-transition: margin-right 3s;
    transition: margin-right 3s; } }

@media (max-width: 1300px) {
  .commentForm .placeholderStyle:nth-child(2) {
    margin-right: 0; }
  .commentForm {
    width: 66%; } }

@media (max-width: 1100px) {
  .message {
    padding: 4% 42% 14% 10%; } }

@media (max-width: 1000px) {
  .headerContainer, .blogContainer {
    padding: 10px 0 0 37px; } }

@media (max-width: 940px) {
  .contactBar {
    padding: 0; }
  .contactHeader {
    background-size: unset;
    min-height: 53vh; }
  .flexContainer {
    height: 392px;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .headerContainer {
    height: 29vh; }
  .message {
    padding: 4% 35% 14% 10%; }
  .commentForm {
    width: 59%;
    padding: 17px 39px;
    min-height: 332px; }
  .mediaContactContainer {
    -ms-flex-item-align: start;
    align-self: flex-start; } }

@media (max-width: 768px) {
  .contactHeader {
    min-height: 36vh; }
  .message {
    padding: 4% 0% 14% 0%; }
  .contactForm {
    padding: 1% 32%; }
  .commentForm {
    width: 41%;
    padding: 90px 18px;
    min-height: 102px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }

@media (max-width: 697px) {
  .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 659px; }
  .commentForm {
    width: 83%;
    margin: 5%;
    min-height: 309px;
    padding: 51px 18px; }
  .contactForm {
    padding: 1% 42%; }
  .message {
    padding: 4% 45% 4% 5%; }
  .contactHeader {
    min-height: 27vh; }
  .mediaContactContainer {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; } }

@media (max-width: 645px) {
  .flexContainer {
    margin-bottom: 6%; }
  .message {
    padding: 4% 24% 4% 5%; }
  .commentForm {
    padding: 30px 42px; }
  .contactForm {
    padding: 1% 36%; } }

@media (max-width: 487px) {
  .contactHeader {
    min-height: 20vh; }
  .message {
    padding: 4% 6% 4% 5%; }
  .headerContainer {
    height: 8vh; } }

@media (max-width: 440px) {
  .message {
    padding: 4% 0% 4% 1%; }
  .commentForm {
    padding: 16px 42px;
    min-height: 244px; } }

@media (max-width: 378px) {
  .commentForm {
    padding: 16px 2px;
    width: 88%;
    margin: 6%; }
  .contactForm {
    padding: 1% 30%; }
  .flexContainer {
    margin-bottom: 1%; }
  .headerContainer {
    padding: 10px 0 0 5px; } }

@media (max-width: 320px) {
  .commentForm {
    padding: 16px 0px;
    width: 88%;
    margin: 1%; } }

/*# sourceMappingURL=style.css.map */